#Skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.Skilltittle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;

}
.SkillDesc{
    font-size: 1rem;
    font-weight: 300;
    max-width: 51rem;
    padding: 0 2rem;
}
.Skillbars{
    margin: 1.5rem;
    width:100vw;
    max-width: 80%;
    text-align: left;
}
.Skillbar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgba(50,50,50,50);
}
.SkillbarImg{
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
}
.skillbartext>p{
    font-size: 0.9rem;
    font-weight: 200;
}
@media screen and (max-width:720px) {
    .skillbartext>p{
        font-size: 3vw;
    }
    .SkillbarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillbartext>h2{
        font-size: 5vw;
    }
}